body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
div#frontpage{
  margin-left: -10%;
  margin-right: -10%;
  margin-top: -10%;
  padding-top: 10%;
    background-image: url(images/longgrayt.jpg);
}
/* section#section2{
} */
img#float{
  float:right;
  margin-right: 1em;
  margin: 1em;
}
h2#lower{
  margin-top: 4em;
}
header {
  height: 80px;
  background-color: black;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 2;
  margin-left:-10px;
  width: 105vw;
}
div.navbar {
  position: absolute;
  bottom: 0;
  height: 70px;
  line-height: 60px;
  width: 100%;
  background-color: black;
  z-index: 2;
}
div.nav {
  font-family: Arial, Helvetica, sans-serif;
 
  color: white;
  display: inline-block;
  /* line-height: 1; */
  text-decoration: none;
  padding-left: 3%;
  padding-right: 3%;
  font-size: .9em;
  /* border: dashed; */
  /* background-color: white; */
  z-index: 2;
}
div.robotbuttons{
  margin-top: 5%;
  text-align: center;
}
div.robotbuttons#robopage{
  margin-top: 100px;
  text-align: center;
}
div.robonav{
  display: inline;
 margin-left: 3%;
 margin-right: 3%;
  background-color: black;
  color: white;
  padding: 1em;
  font-weight: bolder;
  font-size: 1.5vw;
  width: 105vw;
}
/* div.nav div.dropdownitem a {
  display:none;
  text-decoration: none;
  color: green;
  padding: 4px 4px;
  text-align:left;
  position: absolute;
  left: 40%;
  box-shadow: 1px 1px gray;
  width:60%;
  z-index: 6;
} */
div.nav:hover div.dropdownitem a {
  display:block;
}
p.mainpage{
  margin-left: 20%;
  margin-right: 20%;
}
p.offset{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

img#float{
  float: right;
}
nav:hover {
  background-color: white;
}
a:hover {
  border: solid white;
 padding: 5%;
  border-radius: 5px;
  margin: -5%;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
/* div.center{
    padding-top: 200px;
    text-align: center;
   
} */
a.robo:hover{
border: solid black 5px;
background-color: white;
color: black;
font-weight: bolder;
padding: 1em;
}
.stacktop {
    margin-top: 100px;
    display: block;
    text-align: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
 width: 100%;
 

}

.stackbottom {
text-align: right;
margin-right: 2%;

}
h2{
    color: white;
    background-color: black;
    text-align: center;
    margin-left:-10%;
    margin-right:-10%;
}
a.button{
  text-decoration: none;
  background-color: gray;
  padding: 1vw 2vw 1vw 2vw;
  border: 3px solid black;
  border-radius: 2em;

}

#divbutton{
  margin-top: 3em;
  text-align: center;
}

/* ABOUT US */
p.left{
  margin-top: 3%;
  text-align: left;
  margin-left: 30%;
  font-size: 1.5em;
  padding-top:5%;
}
div.about{
  padding-right: 20%;
}
img.portrait{
  margin-top: -50px;
 
}
h4{
  text-align: center;
  font-size: larger;
  font-size: 3em;
  /* margin-bottom: px; */
  margin-top: 5%;
}
h2.smaller{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
section.aboutus{
  margin-top: 25%;
}
/* ROBOT HISTORY */
/* div.dontshow{
display: none;
} */
div#cad{
height: 50%;
}
img.history{
  display: block;
  margin-top: 3%;
  width: 100%;
  margin-left: -10%;
  margin-right: -10%;
  object-fit: cover;
}
img.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid black 5px;
  
}
section.background{
  background-image: linear-gradient(rgb(52, 51, 51), white);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: -5%;
  margin-right: -5%;
position: absolute;
width: 105vw;

}
p#whitefont{
  color: white;
}
p.robotinfo{
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.25em;
}
button#enlargeButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* img.history:hover{
  content: url(images/extendedrobot.png);

} */
/* sponsors */
section.sponsors{
background-color: black;
  /* background-image: url("images/sponsors.png"); */
  margin-left: -5%;
  margin-right: -5%;
}
img#sponsors{
  display: block;
  width: 100%;
}

div.footbar{
  width: 100%;
  text-align: center;
  height:60px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;

}
/* contact us */
iframe.centerembed{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.insta{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width : 660px) and (max-height: 750px){
div.robonav{
  font-size: smaller;
}
}

@media (max-width : 380px ) and (max-height : 830px){
  p.left{
    font-size: .6em;

  }
img.logo{
  display: none;
}
div#frontpage{
  width: 107vw;
}
header{
  width: 100vw;
}
h2{
  width: 10vw;
}
h2.front {
  width: 100vw;
  margin-left: 7%;
}
div.footbad{
display: none;
}
h2#lower{
  width: 107vw;
}
}
@media (max-width : 900px){
  img.logo{
    display: none;
  }
  div.navbar{
    font-size: 2vw;
    width: 100vw;
  }
}